@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&display=swap");
$--text-main: "Frank Ruhl Libre", serif;
$--clr--main-accent: rgb(226, 75, 75);
$--clr--header-text: rgb(80, 80, 80);
$--clr--header-grey: rgb(151, 151, 151);
$--clr-white: rgb(255, 255, 255);
$--clr--grey: rgb(226, 226, 226);
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: $--text-main;
}

ul {
  list-style: none;
}
.btn__readMore {
  position: relative;
  text-decoration: none;
  &::after {
    position: absolute;
    content: "\00BB";
    padding-left: 0.5rem;
  }
}
.btn__red {
  color: $--clr--main-accent;
}
section {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding: 0 1.2rem;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 1.2rem;
    right: 1.2rem;
    bottom: 0;
    height: 1px;
    border: none;
    border-bottom: 1px solid $--clr--grey;
  }
  .section__title {
    margin: 4rem auto;
    display: block;
    width: 20rem;
    text-align: center;
    color: $--clr-white;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
    background-color: $--clr--main-accent;
  }
}

header {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  border: none;
  border-bottom: 1px solid $--clr--grey;
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1.2rem;
    .logo {
      max-width: 35vw;
      h1 {
        &::first-letter {
          font-size: 3rem;
        }
        color: $--clr--header-text;
        font-weight: 600;
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 0.12rem;
      }
      span {
        font-size: 1.2rem;
        font-weight: 300;
      }
    } /* logo*/
    .main-menu {
      background-color: $--clr--main-accent;
      border-radius: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      li {
        padding: 1rem;
        &:first-child {
          padding-left: 2rem;
        }
        &:last-child {
          padding-right: 2rem;
        }
        a {
          font-size: 1.5rem;
          color: $--clr-white;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
section#hero {
  blockquote {
    width: 80%;
    margin: 4rem auto;
    p {
      position: relative;
      text-align: center;
      font-size: 2.2rem;
      font-style: italic;
      line-height: 2.5rem;
      letter-spacing: 1.4px;
      &::before {
        position: absolute;
        content: open-quote;
        left: 1.8rem;
        font-size: 2.6rem;
      }

      &::after {
        position: absolute;
        content: close-quote;
        bottom: -1.2rem;
        font-size: 2.6rem;
      }
    }
  }
  img {
    height: 35rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 6rem;
  }
}
section#services {
  .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    padding-bottom: 3rem;

    .item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .item__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        color: $--clr--header-text;
      }
      p {
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
  }
}

section#players {
  .players {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
    .player {
      width: 17.5rem;
      .player__avatar img {
        width: 17, 5rem;
        height: 17.5rem;
        object-fit: cover;
      }
      .player__name {
        color: $--clr--header-grey;
        font-weight: 600;
        padding: 1rem 0;
        span {
          font-weight: 300;
        }
      }
      .player__desc p {
        color: $--clr--header-grey;
        font-weight: 300;
        margin-bottom: 1rem;
      }
    }
  }
}

section#work {
  &::after {
    border-bottom: none;
  }
  .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    overflow: hidden;
    padding-bottom: 5rem;
    .item {
      height: 15rem;
      width: 30%;
      img {
        height: 15rem;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
footer {
  width: 100%;
  padding: 2.4rem 1.2rem 0;
  background-color: $--clr--grey;

  .wrapper {
    width: 1000px;
    max-width: 100%;
    margin: auto;
    hr {
      height: 3px;
    }
    .footer__content {
      .footer__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
        li {
          flex: 1;

          h4 {
            font-size: 1.7rem;
            text-transform: capitalize;
            font-weight: 400;
            padding: 1rem 0;
          }
        }
        li.lates {
          flex: 2;
          .footer__menu_items {
            .footer__menu_item {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 3rem;
              margin: 2rem 0 2rem 1rem;
              .footer__menu__item_img {
                outline: 0.2rem solid $--clr--header-grey;
                outline-offset: 0.5rem;
                height: 13rem;
                width: 13rem;
                img {
                  width: 13rem;
                  height: 13rem;
                  object-fit: cover;
                }
              }
              .footer__menu_item_desc {
                h4 {
                  color: $--clr--main-accent;
                  font-weight: 600;
                }
                p {
                  font-weight: 400;
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
        li.details {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          div {
            margin-bottom: 2rem;
          }
          div > ul li {
            font-size: 1.4rem;
          }
          div > h6 {
            font-size: 1.4rem;
            font-weight: 600;
            color: #333;
            text-transform: capitalize;
            letter-spacing: 1px;
          }
        }
        li {
          div > p {
            font-size: 1.4rem;
          }
        }
      }
    }
    .footer__credits {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: block;
        font-size: 1.2rem;
        color: $--clr--header-grey;
        padding: 2rem 0;
      }
      .copyright {
        text-transform: capitalize;
      }
    }
  }
}
