* {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgb(117, 172, 255);
}

#title {
  color: white;
  font-size: x-large;
}
#subtitle {
  text-align: right;
  display: block;
  color: #fff;
}

#list {
  list-style-type: none;
  display: flex;
  gap: 1vh 3vw;
}

li {
  color: white;
  text-transform: uppercase;
  font-size: small;
}
